body,html {
    margin: 0;
    padding: 0;
  }


  .nav-extended{
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  a{
    font:#fff;
    z-index: 3;
  }

.jumbo-image{
  height: 600px;
  width: 100%;
  position: absolute;
  top:0;
  z-index: -100;
  object-fit: cover;
}