{% extends "base.html" %}
{% block content %}

<nav class="nav-extended light-blue lighten-2">
    <div class="nav-wrapper navbar-fixed">
        <a href="{{ url_for('home_page') }}" class="brand-logo center">Up Health Dashboard</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right black"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('dashboard') }}" class="black-text">Home</a></li> 
            <li><a href="{{ url_for('register') }}" class="black-text" > My Intentions</a></li>
            <li><a href="{{ url_for('my_profile', username=session['user']) }}" class="black-text" > My Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            
        </ul>
    </div>
</nav>


{% endblock %}