{% extends "base.html" %}
{% block content %}
<nav class="nav-extended pink lighten-2">
    <div class="nav-wrapper navbar-fixed">
        <a href="{{ url_for('home_page') }}" class="brand-logo center">Up Health Dashboard</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right black"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('dashboard') }}" class="black-text">Home</a></li> 
            <li><a href="" class="black-text" > My Intentions</a></li>
            <li><a href="{{ url_for('my_profile', username=session['user']) }}" class="black-text" > My Profile</a></li>   
        </ul>
    </div>
</nav>

<h3 class=" white-text center-align">Exercise Intentions</h3>

<div class="row">
    {% for exercise in exercises %}
    <div class="col s12 l4">
        <div class="card small">
            <div class="card-image">
                <img src="/static/images/exercise.jpg" alt="person exercising">
            </div>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fas fa-plus"></i></a>
            <div class="card-content center-align">
                <span class="card-title">{{ exercise.action_name}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    

{% endblock %}