{% extends "base.html" %}
{% block content %}

<nav class="nav-extended light-blue lighten-2">
    <div class="nav-wrapper navbar-fixed">
        <a href="{{ url_for('home_page') }}" class="brand-logo center">Up Health Dashboard</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right black"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('dashboard') }}" class="black-text">Home</a></li> 
            <li><a href="" class="black-text" > My Intentions</a></li>
            <li><a href="{{ url_for('my_profile', username=session['user']) }}" class="black-text" > My Profile</a></li>   
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12 m3">
      <div class="card light-blue darken-4 text-shadow center-align">
        <div class="card-content white-text">
          <span class="card-title">Name: {{ users_profile.profile_name}}</span>
          <span class="card-title"> Age: {{ users_profile.age}}</span>
          <span class="card-title"> Height: {{ users_profile.height}}</span>
          <span class="card-title"> Weight: {{ users_profile.weight}}</span>
          <span class="card-title"> Smoker: {{ users_profile.smoker}}</span>




{% endblock %}